<form action="" (ngAdd)="handleAdd()"></form>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>My ToDo List</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <app-task-form></app-task-form>
        </div>
        <div class="col-md-6">
          <app-task-listing></app-task-listing>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <button type="add" class="btn btn-primary" id="submit">Add</button>
</div>