<!-- <div [ngSwitch]="day">
  <p *ngSwitchCase="1">Sunday</p>
  <p *ngSwitchCase="2">Monday</p>
  <p *ngSwitchCase="3">Tuesday</p>
  <p *ngSwitchCase="4">Wednesday</p>
  <p *ngSwitchCase="5">Thursday</p>
  <p *ngSwitchCase="6">Friday</p>
  <p *ngSwitchCase="7">Saturday</p>
  <p *ngSwitchCase>Invalid day</p>

</div> -->


<div>
  <form #registration="ngForm" (ngSubmit)="handleFormSubmit(registration)">
    <div [style] ="container">
      <label for ="" placeholder="enter your fullname">full name</label>
      <input type="text" [(ngModel)] = "details.uid"
    </div>

    <div [style] ="container">
        <label for ="" placeholder="Enter your email">Email</label>
        <input type="text" [(ngModel)]="details.email"
      </div>
      <div [style] ="container">
        <label for ="">Contact Info</label>
        <input type="text" [(ngModel)]="details.mobile"
      </div>
    <div [style] = "container">
      <label for ="">Date Of Birth</label>
      <input type="date" name="dob" id="" [(ngModel)]="details.dob"
    </div>
    <div [style]="container">
      <button type="submit" [disabled] = "registration.invalid">Submit Form</button>
    </div>
  </form>
</div>





