<!-- <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
  <div class="container mt-2">
    <label for="">Full Name</label>
    <input type="text" placeholder="Enter fullname" id="fullName" name="fullName"
    class = "form-control" formControlName="fullName">
  </div>

  <div class="container mt-2">
    <label for="">Email</label>
    <input type="text" placeholder="Enter Email" id="email" name="email"
    class = "form-control" formControlName="email">
  </div>

  <div class="container mt-2">
    <label for="">Age</label>
    <input type="number" placeholder="Enter age" id="age" name="age"
    class = "form-control" formControlName="age">
  </div>
  <div class="container mt-2">
    <button type="submit" class="btn btn-primary" id ="submit">Submit</button>
  </div>

</form> -->



